@charset "UTF-8";
/* колір заголовків #212121 */
/* колір вторинного тексту #757575 */
/* колір акцентів #2196F3 */
/* колір ховеру фокусу #188ce8 */
/* колір основного фона #FFFFFF */
/* колір вторинного фона #2F303A */
/* колір акцентованого фону #F5F4FA */
/* колір обводки #eeeeee */
:root {
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --hover-focus-color: #188ce8;
  --background-main-color: #ffffff;
  --background-footer-color: #2f303a;
  --background-secondary-color: #f5f4fa;
  --border-item-color: #eeeeee;
  --secondary-icon-color: #afb1b8;
  --main-font: "Roboto";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  margin: 0;
  background: var(--background-main-color);
  color: var(--title-text-color);
  font-family: var(--main-font), sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  display: flex;
  list-style: none;
}

.button {
  padding: 10px 24px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}

.button-secondary {
  padding: 6px 25px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-secondary-color);
  cursor: pointer;
  outline: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  padding: 10px 52px;
}

.sub-form__button {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--background-main-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.menu-open {
  padding: 12px 8px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}

.menu-close {
  padding: 11px;
  border: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  width: 450px;
  min-height: 581px;
  background-color: var(--background-main-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
@media screen and (max-width: 479px) {
  .modal-window {
    width: 100%;
  }
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}

.close-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  outline: 0;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover, .close-modal:focus {
  background-color: var(--accent-color);
  fill: var(--background-main-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon, .modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus, .modal-textarea:hover {
  border-color: var(--accent-color);
}
.modal-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea-wrap {
  margin-bottom: 20px;
}

.modal-lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-conditions-wrap {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.form-conditions {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-conditions span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .form-conditions span {
  fill: var(--background-main-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.input-check:focus + .form-conditions span {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .form-conditions {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-conditions-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .form-conditions-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-button-wrap {
  text-align: center;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-main-color);
  position: fixed;
  top: 0;
  z-index: 1;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-list {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mob-menu-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.mob-menu-list__link.active {
  color: var(--accent-color);
}

.mob-menu-contact {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  text-decoration: none;
}

.mob-menu-soc-list {
  gap: 20px;
}

.mob-menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-menu-soc-item {
  position: relative;
}

.mob-menu-soc-item:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  left: -10px;
}

.header {
  background: var(--background-main-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__web {
  color: var(--accent-color);
}

.menu {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  outline: 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  transform: scaleX(0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover::before, .menu__link:focus::before {
  transform: scaleX(1);
  opacity: 1;
}

.menu__link.active {
  color: var(--accent-color);
}

.active::before {
  transform: scaleX(1);
  opacity: 1;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  text-decoration: none;
  outline: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--background-footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-2x.jpg);
  }
}

.margin__hero {
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.benefits-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: calc((100% - 90px) / 4);
  }
}
.benefits-item:nth-child(1)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/sputnik.svg);
  background-color: var(--background-secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.benefits-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/clock.svg);
  background-color: var(--background-secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.benefits-item:nth-child(3)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/diagram.svg);
  background-color: var(--background-secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.benefits-item:nth-child(4)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/astronaut.svg);
  background-color: var(--background-secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-text-color);
}

.projects {
  padding-top: 0px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .projects {
    display: block;
  }
}

.projects-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.projects-item {
  position: relative;
}

.projects-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondary-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.team-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--background-main-color);
}
.team-item div {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-member-description {
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--paragraph-text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.team-soc-list-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--secondary-icon-color);
  outline: 0;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:focus, .team-soc-link:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.clients-item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-icon-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--hover-focus-color);
}

.clients-icon {
  fill: var(--secondary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--hover-focus-color);
}

.footer {
  padding: 60px 0px;
  background-color: var(--background-footer-color);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: baseline;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
    gap: 0;
  }
}

.margin__adress-section {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .margin__adress-section {
    margin: 0;
    margin-right: auto;
  }
}

.adress-section__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address {
  font-style: normal;
}

.address__list {
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map-link:hover, .address__map-link:focus {
  color: var(--accent-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.margin__soc-section {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .margin__soc-section {
    margin: 0;
    margin-right: auto;
  }
}

.soc-section__description {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.social__list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  fill: #ffffff;
  outline: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--hover-focus-color);
  border-radius: 50%;
}

.sub-section {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .sub-section {
    margin: 0;
  }
}

.sub-section__description {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.position__sub-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .position__sub-form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .position__sub-form {
    flex-direction: row;
    gap: 12px;
  }
}

.sub-form__input {
  color: var(--secondary-text-color);
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-form__input::-moz-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__input:-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__input:hover, .sub-form__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .sub-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-form__input {
    width: 358px;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.portfolio-item {
  width: 370px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  outline: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .overlay, .portfolio-link:focus .overlay {
  transform: translate(0);
}

.portfolio-item-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border-item-color);
  border-bottom: 1px solid var(--border-item-color);
  border-left: 1px solid var(--border-item-color);
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-description {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.portfolio-animation-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */