.button {
  padding: 10px 24px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-focus-color);
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
.button-secondary {
  padding: 6px 25px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-secondary-color);
  cursor: pointer;
  outline: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.modal {
  padding: 10px 52px;
}
.sub-form__button {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--background-main-color);
  width: fit-content;
}

.menu-open {
  padding: 12px 8px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-close {
  padding: 11px;
  border: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
