/* колір заголовків #212121 */
/* колір вторинного тексту #757575 */
/* колір акцентів #2196F3 */
/* колір ховеру фокусу #188ce8 */
/* колір основного фона #FFFFFF */
/* колір вторинного фона #2F303A */
/* колір акцентованого фону #F5F4FA */
/* колір обводки #eeeeee */

:root {
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --hover-focus-color: #188ce8;
  --background-main-color: #ffffff;
  --background-footer-color: #2f303a;
  --background-secondary-color: #f5f4fa;
  --border-item-color: #eeeeee;
  --secondary-icon-color: #afb1b8;
  --main-font: 'Roboto';
}
