.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.clients-item {
  height: 92px;
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-icon-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  &:hover,
  &:focus {
    border: 1px solid var(--hover-focus-color);
  }
}
.clients-icon {
  fill: var(--secondary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--hover-focus-color);
  }
}
