.mob-menu {
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-main-color);
  position: fixed;
  top: 0;
  z-index: 1;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-list {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mob-menu-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-menu-list__link.active {
  color: var(--accent-color);
}

.mob-menu-contact {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  text-decoration: none;
}
.mob-menu-soc-list {
  gap: 20px;
  position: relative;
}
.mob-menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-menu-soc-item:not(:first-child)::before {
  content: '';
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
}
